

<!-- nav = nav-mobile -->
<!-- nav-mobile = navbar-mobile -->

<!-- MOBILE NAV -->
<section class="nav-mobile">
  <div class="navbar-mobile">
    <a id="nav-toggle" href="#!"><span></span></a>
  </div>
  <ul class="nav-mobile-list">
    <li>
      <a href="#!">Home</a>
      <hr>
    </li>
    <li>
      <a href="#!">About</a>
      <hr>
    </li>
    <li>
      <a href="#!">Work</a>
      <hr>
    </li>
    <li>
      <a href="#!">Services</a>
      <hr>
    </li>
    <li>
      <a href="#!">Team</a>
      <hr>
    </li>
    <li>
      <a href="#!">News</a>
      <hr>
    </li>
    <li>
      <a href="#!">Blog</a>
      <hr>
    </li>
    <li>
      <a href="#!">Contact</a>
    </li>
  </ul>
</section>


<!-- DESKTOP NAV -->
<section class="nav-desktop">
  <div class="logo">
    <a href="#!">Logo</a>
  </div>
    <ul class="nav-list">
      <li>
        <a href="#!">Home</a>
      </li>
      <li>
        <a href="#!">About</a>
      </li>
      <li>
        <a href="#!">Work</a>
      </li>
      <li>
        <a href="#!">Services</a>
      </li>
      <li>
        <a href="#!">Team</a>
      </li>
      <li>
        <a href="#!">News</a>
      </li>
      <li>
        <a href="#!">Blog</a>
      </li>
      <li>
        <a href="#!">Contact</a>
      </li>
    </ul>
</section>
